@charset 'utf-8';

@import url(../../node_modules/normalize.css/normalize.css);

html {
  font-family: "TazuganeInfoStdN-Regular", sans-serif;
  color: #232323;
  line-height: 1.6;
  background-color: #e0ff00;
}

body {
  margin: 5rem auto 1.875rem;
  width: 90%;
  max-width: 63.75rem;
  letter-spacing: 0.03em;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: currentColor;
  text-underline-position: under;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

section {
  margin-top: 4.375rem;
}

footer {
  margin-top: 5rem;
}

h1,
h2 {
  font-family: "TazuganeGothicStdN-Heavy", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

h3,
h4,
h5,
h6 {
  font-family: "TazuganeInfoStdN-Bold", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

ol,
ul,
dl {
  margin-top: 2rem;
}

ol ol,
ul ul {
  margin-top: 1rem;
}

/* https://github.com/ampproject/amphtml/blob/2e9a940e78df8de38a6c06a0772aeaa4839a24d1/css/ampshared.css#L164-L204 */
.VisuallyHidden {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 4px !important;
  height: 4px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  visibility: visible !important;
}

.Header h1 {
  font-size: 2.125rem;
  text-align: center;
}

.Header span {
  display: block;
  margin-top: 3.75rem;
}

.Header svg {
  width: 100%;
  max-width: 20.75rem;
  height: auto;
  vertical-align: top;
}

.Header p {
  margin-right: auto;
  margin-left: auto;
  max-width: 38.75rem;
}

.Section.-hasSeparator::before {
  /* 抑えの線 */
  content: "";
  display: block;
  margin: 4.375rem auto;
  width: 30px;
  height: 8px;
  background-color: #fff;
}

.Section h2 {
  font-size: 1.5rem;
}

.Section h3 {
  font-size: 1.25rem;
}

.Section p {
  margin-right: auto;
  margin-left: auto;
  max-width: 38.75rem;
  hanging-punctuation: allow-end;
}

.Section dl {
  margin-right: auto;
  margin-left: auto;
  max-width: 38.75rem;
  line-height: 2;
}

.Section dt {
  margin-top: 1rem;
  font-family: "TazuganeInfoStdN-Bold", sans-serif;
}

.Section dd {
  margin-left: 0;
  hanging-punctuation: allow-end;
}

.HeadingAnchor {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

@media (min-width: 426px) {
  .HeadingAnchor {
    justify-content: center;
  }
}

.HeadingAnchor h2,
.HeadingAnchor h3 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 426px) {
  .HeadingAnchor h2,
  .HeadingAnchor h3 {
    text-align: center;
  }
}

.HeadingAnchor a {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  width: 24px;
  height: 24px;
  line-height: inherit;
  background-image: url(image/link.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 426px) {
  .HeadingAnchor a {
    opacity: 0;
  }

  :target .HeadingAnchor a,
  .HeadingAnchor a:focus,
  .HeadingAnchor:hover a {
    opacity: 1;
  }
}

.ColumnList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media (min-width: 426px) {
  .ColumnList {
    margin-right: -1.5625rem;
    margin-left: -1.5625rem;
  }
}

@media (min-width: 769px) {
  .ColumnList {
    margin-right: -1.875rem;
    margin-left: -1.875rem;
  }
}

.ColumnList li {
  list-style: inside none;
  margin-top: 3.75rem;
  max-width: 18.75rem;
}

@media (min-width: 426px) {
  .ColumnList li {
    margin-right: 1.5625rem;
    margin-left: 1.5625rem;
  }
}

@media (min-width: 769px) {
  .ColumnList li {
    margin-right: 1.875rem;
    margin-left: 1.875rem;
  }
}

.Poster {
  margin: 3.75em 0 0;
  font-size: 1.125rem;
  text-align: center;
}

.ColumnList .Poster {
  margin-top: 0;
}

.Poster img {
  width: 100%;
  max-width: 18.75rem;
  height: auto;
  vertical-align: top;
}

.Poster figcaption {
  margin-top: 1.25rem;
}

.BtnList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media (min-width: 426px) {
  .BtnList {
    margin-right: -0.78125rem;
    margin-left: -0.78125rem;
  }
}

.BtnList li {
  list-style: none inside;
  margin-top: 1.875rem;
}

@media (min-width: 426px) {
  .BtnList li {
    margin-right: 0.78125rem;
    margin-left: 0.78125rem;
  }
}

.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.625rem;
  height: 3.75rem;
  font-size: 0.875rem;
  line-height: 20px;
  border-radius: 99rem;
  letter-spacing: 0.05em;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
  text-decoration: none;
}

.Btn.-disabled {
  opacity: 0.5;
  box-shadow: none;
}

.ColumnList .Btn {
  margin-right: auto;
  margin-left: auto;
}

.Poster + .Btn {
  margin-top: 1.25rem;
}

.Btn[href$=".pdf"]::before,
.Btn[data-href$=".pdf"]::before {
  content: "";
  margin-right: 0.625rem;
  width: 16px;
  height: 20px;
  line-height: inherit;
  background-image: url(image/pdf.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.Btn span[lang] {
  margin-left: 0.625rem;
  font-size: 0.75rem;
}

.BulletedList {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  max-width: 38.75rem;
}

.BulletedList li {
  list-style-position: inside;
  list-style-type: none;
  display: flex;
  align-items: baseline;
  line-height: 2;
}

.BulletedList li::before {
  flex-shrink: 0;
  content: "";
  margin-right: 0.375rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 99rem; /* fxxking magic number! */
  background-color: currentColor;
}

.BulletedList li + li {
  margin-top: 1rem;
}

.License {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.License svg {
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  vertical-align: top;
}
