---
date: Last Modified
---
<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="COVID-19が疑われる方についての対応方針を伝えるためのコミュニケーションツールです。あなたの病院の方針に合ったツールを選んでご活用ください。">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Act Against COVID-19 - 医療機関用ツール">
    <meta property="og:title" content="Act Against COVID-19 - 医療機関用ツール">
    <meta property="og:description" content="COVID-19が疑われる方についての対応方針を伝えるためのコミュニケーションツールです。あなたの病院の方針に合ったツールを選んでご活用ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://covid-19-act.jp/follow/">
    <meta property="og:image" content="http://covid-19-act.jp/follow/image/OGP.png{% cacheBuster %}">
    <meta property="og:image:secure_url" content="https://covid-19-act.jp/follow/image/OGP.png{% cacheBuster %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Act Against COVID-19のロゴ">
    <title>Act Against COVID-19 - 医療機関用ツール</title>
    <link rel="icon" href="/follow/image/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="mask-icon" href="/follow/image/favicon.svg" color="yellow">
    <link rel="icon alternate" href="/follow/image/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/follow/image/apple-touch-icon.png" sizes="180x180">
    <link rel="stylesheet" href="/follow/style.css">
    <link rel="canonical" href="https://covid-19-act.jp/follow/">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162419995-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-162419995-5');
    </script>
    <script src="https://webfont.fontplus.jp/accessor/script/fontplus.js?owI8-d2e8Dw%3D&amp;box=wzsij36dhRc%3D&amp;timeout=5&amp;aa=1&amp;ab=2"></script>
  </head>

  <body>
    <article>
      <header class="Header">
        <h1>
          <img class="Header__logo" src="/follow/image/logo.svg" alt="Act Against COVID-19" width="332" height="86" />
          <span>医療機関用ツール</span>
        </h1>
        <div class="Header__inner">
          <p>日本語以外を母語とする方の内、COVID-19が疑われる方についての対応方針を伝えるためのコミュニケーションツールです。あなたの病院の方針に合ったツールを選んでご活用ください。</p>
        </div>
      </header>

      <section class="Section -hasSeparator" id="For-what">
        <header class="HeadingAnchor">
          <h2>入口に「入れません」と<br/>表示するポスター</h2>
          <a href="#For-what"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>熱発症状がみられる方に対して、院内に入ることができない旨と、東京都や日本医師会が設置している相談窓口への電話を促すポスターです。病院の方針として熱発患者を受け入れていたり、感染症外来などを設置している場合は、「入り口から病院の中のスタッフを呼んでもらう」をご活用ください。</p>
        </div>
        <ul class="ColumnList">
          <li>
            <figure class="Poster">
              <img width="300" height="424" src="/follow/image/preventative-measures-covid-19_1.png" alt="東京都 新型コロナ相談窓口の電話番号が書かれたPreventative Measures COVID-19ポスター" loading="lazy">
              <figcaption>東京都 新型コロナ相談窓口へ<br>電話してもらう</figcaption>
            </figure>
            <a class="Btn" href="/follow/document/poster_DontVisit_TKY_en.pdf"><span class="VisuallyHidden">このポスターの</span>A3サイズをダウンロード</a>
          </li>
          <li>
            <figure class="Poster">
              <img width="300" height="424" src="/follow/image/preventative-measures-covid-19_2.png" alt="日本医師会 新型コロナ相談窓口の電話番号が書かれたPreventative Measures COVID-19ポスター " loading="lazy">
              <figcaption>日本医師会 新型コロナ相談窓口へ<br>電話してもらう</figcaption>
            </figure>
            <a class="Btn" href="/follow/document/poster_DontVisit_JMA_en.pdf"><span class="VisuallyHidden">このポスターの</span>A3サイズをダウンロード</a>
          </li>
          <li>
            <figure class="Poster">
              <img width="300" height="424" src="/follow/image/preventative-measures-covid-19_3.png" alt="入り口から病院の中のスタッフを呼んで欲しいと書かれたPreventative Measures COVID-19ポスター " loading="lazy">
              <figcaption>入り口から病院のスタッフを<br>呼んでもらう</figcaption>
            </figure>
            <a class="Btn" href="/follow/document/poster_DontVisit_CallStaff_en.pdf"><span class="VisuallyHidden">このポスターの</span>A3サイズをダウンロード</a>
          </li>
        </ul>
      </section>

      <section class="Section -hasSeparator" id="To-foreigners-who-live-in-japan">
        <header class="HeadingAnchor">
          <h3>緊急事態宣言に関する<br>注意事項を伝えるフライヤー兼ポスター</h3>
          <a href="#To-foreigners-who-live-in-japan"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>COVID-19対策として重要な注意事項が十分に伝わっていない外国人の方々に向けて、その内容を分かりやすく伝えるためのA4フライヤーです。指差しコミュニケーションシートとして、または大きめに印刷してポスターとして院内に貼っていただくなどしてご活用ください。<strong>対応言語は随時追加予定です。</strong></p>
          <figure class="Poster">
            <img width="300" height="424" src="/follow/image/to-foreigners-who-live-in-japan.png" alt="緊急事態宣言に関する注意事項を伝えるフライヤー兼ポスター" loading="lazy">
            <figcaption>日本で暮らす外国人のみなさんへ</figcaption>
          </figure>
        </div>
        <ul class="BtnList">
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_English.pdf">英語版<span lang="en">English</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_ZH-Hans.pdf">中国語 簡体字<span lang="en">ZH Hans</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_Russian.pdf">ロシア語<span lang="en">Russian</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_French.pdf">フランス語<span lang="en">French</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_Italian.pdf">イタリア語<span lang="en">Italian</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_Spanish.pdf">スペイン語<span lang="en">Spanish</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_Portuguese.pdf">ポルトガル語<span lang="en">Portuguese</span></a>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ToForeignersWhoLiveInJapan_Arabic.pdf">アラビア語<span lang="en">Arabic</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ToForeignersWhoLiveInJapan_Thai.pdf">タイ語<span lang="en">Thai</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_Bengali.pdf">ベンガル語<span lang="en">Bengali</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_Burmese.pdf">ビルマ語<span lang="en">Burmese</span></a>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ToForeignersWhoLiveInJapan_Nepali.pdf">ネパール語<span lang="en">Nepali</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ToForeignersWhoLiveInJapan_Khmer.pdf">クメール語<span lang="en">Khmer</span></a>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ToForeignersWhoLiveInJapan_Lao.pdf">ラオス語<span lang="en">Lao</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ToForeignersWhoLiveInJapan_Mongolian.pdf">モンゴル語<span lang="en">Mongolian</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ToForeignersWhoLiveInJapan_Tagalog.pdf">タガログ語<span lang="en">Tagalog</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ToForeignersWhoLiveInJapan_Vietnamese.pdf">ベトナム語<span lang="en">Vietnamese</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
        </ul>
      </section>

      <section class="Section -hasSeparator" id="For-medical-facilities">
        <header class="HeadingAnchor">
          <h3>COVID-19を疑う症状がある方へ<br>注意事項を伝えるフライヤー兼ポスター</h3>
          <a href="#For-medical-facilities"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>新型コロナウイルス感染症を疑う症状のある外国人の方々に向けて、注意事項を分かりやすく伝えるためのA4フライヤーです。来院者の方へ渡したり、大きめに印刷してポスターとして院内に貼っていただくなどしてご活用ください。<strong>対応言語は随時追加予定です。</strong></p>
          <figure class="Poster">
            <img width="300" height="424" src="/follow/image/for-medical-facilities-poster.png" alt="COVID-19を疑う症状がある方へ注意事項を伝えるフライヤー兼ポスター" loading="lazy">
            <figcaption>新型コロナウイルス感染症を疑う症状がある皆さんへ</figcaption>
          </figure>
        </div>
        <ul class="BtnList">
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_English.pdf">英語版<span lang="en">English</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_ZH-Hans.pdf">中国語 簡体字<span lang="en">ZH Hans</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_Russian.pdf">ロシア語<span lang="en">Russian</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_French.pdf">フランス語<span lang="en">French</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_Italian.pdf">イタリア語<span lang="en">Italian</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_Spanish.pdf">スペイン語<span lang="en">Spanish</span></a>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ForMedicalFacilities_poster_Portuguese.pdf">ポルトガル語<span lang="en">Portuguese</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ForMedicalFacilities_poster_Arabic.pdf">アラビア語<span lang="en">Arabic</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_Thai.pdf">タイ語<span lang="en">Thai</span></a>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ForMedicalFacilities_poster_Bengali.pdf">ベンガル語<span lang="en">Bengali</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ForMedicalFacilities_poster_Burmese.pdf">ビルマ語<span lang="en">Burmese</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ForMedicalFacilities_poster_Nepali.pdf">ネパール語<span lang="en">Nepali</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ForMedicalFacilities_poster_Khmer.pdf">クメール語<span lang="en">Khmer</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ForMedicalFacilities_poster_Lao.pdf">ラオス語<span lang="en">Lao</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ForMedicalFacilities_poster_Mongolian.pdf">モンゴル語<span lang="en">Mongolian</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/ForMedicalFacilities_poster_Tagalog.pdf">タガログ語<span lang="en">Tagalog</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_Vietnamese.pdf">ベトナム語<span lang="en">Vietnamese</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_Korean.pdf">韓国語<span lang="en">Korean</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_Indonesian.pdf">インドネシア語<span lang="en">Indonesian</span></a>
          </li>
          <li>
            <a class="Btn" href="/follow/document/ForMedicalFacilities_poster_Malay.pdf">マレー語<span lang="en">Malay</span></a>
          </li>
        </ul>
      </section>

      <section class="Section -hasSeparator" id="Communication-sheet">
        <header class="HeadingAnchor">
          <h3>病院で外国語話者の方々と<br>コミュニケーションを取るための指差し表</h3>
          <a href="#Communication-sheet"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>病院に来院される外国語話者の方々に向けて、病院でのルールやマナーを分かりやすく伝えるためのコミュニケーションシートです。指差し表としてご活用ください。<strong>対応言語は随時追加予定です。</strong></p>
          <figure class="Poster">
            <img width="300" height="424" src="/follow/image/communication-sheet.png" alt="病院で外国語話者の方々とコミュニケーションを取るための指差し表" loading="lazy">
            <figcaption>病院でのルールとマナー</figcaption>
          </figure>
        </div>
        <ul class="BtnList">
          <li>
            <a class="Btn" href="/follow/document/Communication_Sheet_English.pdf">英語版<span lang="en">English</span></a>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_ZH-Hans.pdf">中国語 簡体字<span lang="en">ZH Hans</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <a class="Btn" href="/follow/document/Communication_Sheet_Russian.pdf">ロシア語<span lang="en">Russian</span></a>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_French.pdf">フランス語<span lang="en">French</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Italian.pdf">イタリア語<span lang="en">Italian</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Spanish.pdf">スペイン語<span lang="en">Spanish</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Portuguese.pdf">ポルトガル語<span lang="en">Portuguese</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Arabic.pdf">アラビア語<span lang="en">Arabic</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Thai.pdf">タイ語<span lang="en">Thai</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Bengali.pdf">ベンガル語<span lang="en">Bengali</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Burmese.pdf">ビルマ語<span lang="en">Burmese</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Nepali.pdf">ネパール語<span lang="en">Nepali</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <a class="Btn" href="/follow/document/Communication_Sheet_Khmer.pdf">クメール語<span lang="en">Khmer</span></a>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Lao.pdf">ラオス語<span lang="en">Lao</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Mongolian.pdf">モンゴル語<span lang="en">Mongolian</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Tagalog.pdf">タガログ語<span lang="en">Tagalog</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <span class="Btn -disabled" data-href="/follow/document/Communication_Sheet_Vietnamese.pdf">ベトナム語<span lang="en">Vietnamese</span><span class="VisuallyHidden">版は現在準備中です。</span></span>
          </li>
          <li>
            <a class="Btn" href="/follow/document/Communication_Sheet_Korean.pdf">韓国語<span lang="en">Korean</span></a>
          </li>
        </ul>
      </section>

      <section class="Section -hasSeparator" id="How-to-use">
        <header class="HeadingAnchor">
          <h3>使用上の注意</h3>
          <a href="#How-to-use"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <ul class="BulletedList">
            <li>A3サイズの紙に、拡大率100%で印刷し、外来棟の入口外側のドア面や立て看板などの、できるだけ目立つ位置に貼ってください。</li>
            <li>このポスターは、A3以上のサイズで印刷されることを想定してデザインされています。A4以下で印刷すると文字が小さすぎて目立たず、COVID-19疑いの方に入口で止まってもらう機能が損なわれる恐れがあります。</li>
            <li>QRコードは東京都の新型コロナウイルス感染症対策サイトへリンクしていますが、外国語話者への適切な情報提供のためのコンテンツが揃い次第、本サイトの外国語話者支援コンテンツにリンク先を変更予定です。</li>
          </ul>
        </div>
      </section>

      <section class="Section" id="Share">
        <header class="HeadingAnchor">
          <h3>改変やSNS等でのシェアのルール</h3>
          <a href="#Share"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>クリエイティブ・コモンズ・ライセンスで配布しています（CC BY-NC-SA 4.0）。非営利目的の場合で、原作者としてcovid-19-act.jpと表示し、当サイトにリンクを張った場合に限り、改変などが可能です。このルールは、改変した上で発表されたデザインにも継承されます。</p>
          <p>配布しているPDFは、日本国政府や各自治体の方針の変更や情勢の変化などに応じて内容を更新する可能性があるため、シェアや再配布の際は、必ずこのページにリンクを張ってください。</p>
        </div>
      </section>

      <section class="Section" id="Analytics-and-cookie">
        <header class="HeadingAnchor">
          <h3>Google AnalyticsとCookieについて</h3>
          <a href="#Analytics-and-cookie"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>当サイトではコンテンツの維持運営のためGoogle Analyticsを利用しています。</p>
          <p>Google Analyticsは、当サイトが発行するCookieを利用して、アクセス状況、トラフィック、閲覧環境、およびIPアドレスなど個人の特定が可能なごく一部の情報を収集しています。</p>
          <p>Cookieの利用に関してはGoogleのプライバシーポリシーと規約に基づいています。</p>
          <p>取得したデータはWebサイト利用状況の分析、サイト運営者へのレポートの作成、その他のサービスの提供に関わる目的に限り、これを使用します。</p>
          <p>Google Analyticsの利用規約及びプライバシーポリシーに関する説明については、Google Analyticsのサイトをご覧ください。</p>
          <ul class="BulletedList">
            <li>
              <a href="https://marketingplatform.google.com/about/analytics/terms/jp/">Google Analytics利用規約</a>
            </li>
            <li>
              <a href="https://policies.google.com/privacy?hl=ja">Googleのプライバシーポリシー</a>
            </li>
            <li>
              <a href="https://support.google.com/analytics/answer/6004245?hl=ja">Google Analyticsのデータの保護について</a>
            </li>
          </ul>
        </div>
      </section>

      <section class="Section" id="Credit">
        <header class="HeadingAnchor">
          <h3>制作</h3>
          <a href="#Credit"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>個人が集まった有志グループによって制作されています。所属する組織・団体とは関係ありません。</p>
          <dl>
            <dt id="Credit_design">デザイン</dt>
            <dd>カワセ タケヒロ（POLAAR コンセプター, デザイナー）</dd>
            <dt id="Credit_illustration">イラストレーション</dt>
            <dd>原木 友寿那（東京藝術大学大学院美術研究科デザイン専攻 修士1年）</dd>
            <dt id="Credit_writting">ライティング</dt>
            <dd>坂元 晴香（内科医 ／ 東京大学大学院医学系研究科国際保健政策学教室）</dd>
            <dd>石塚 彩（東京大学大学院医学系研究科国際保健政策学教室）</dd>
            <dd>二見 茜（東京医科歯科大学医学部附属病院 国際医療部 副部長 ／ 医療コーディネーター）</dd>
            <dd>堀内 清華（小児科医 ／ 山梨大学大学院総合研究部附属出生コホート研究センター）</dd>
            <dd>阿部 サラ（国立研究開発法人国立がん研究センター 特任研究員）</dd>
            <dt id="Credit_translation">翻訳</dt>
            <dd>アラビア語<span aria-hidden="true"> … </span>山口 由利加
            <dd>ベンガル語<span aria-hidden="true"> … </span><span lang="en">Ashraful Alam</span>, <span lang="en">Shafiur Rahman</span>
            <dd>ミャンマー語<span aria-hidden="true"> … </span><span lang="en">Kaung Suu Lwin</span>
            <dd>中国語 簡体字<span aria-hidden="true"> … </span><span lang="en">Yichi Chen</span>
            <dd>英語<span aria-hidden="true"> … </span>石塚 彩
            <dd>フランス語<span aria-hidden="true"> … </span><span lang="en">Matthew Palmer</span>
            <dd>イタリア語<span aria-hidden="true"> … </span><span lang="en">Cecilia Martellucci</span>
            <dd>クメール語<span aria-hidden="true"> … </span><span lang="en">Eang Romduol Leaksmy</span>
            <dd>ネパール語<span aria-hidden="true"> … </span><span lang="en">Pradip Thapa</span>
            <dd>ポルトガル語<span aria-hidden="true"> … </span>伊與部 洋樹, 佐藤 日奈子
            <dd>ロシア語<span aria-hidden="true"> … </span>坂元 晴香
            <dd>スペイン語<span aria-hidden="true"> … </span><span lang="en">Noelia Gonzales</span>
            <dd>ベトナム語<span aria-hidden="true"> … </span><span lang="en">Phuong The Nguyen</span>, <span lang="en">Phuong Le Mai</span>
            <dd>韓国語<span aria-hidden="true"> … </span>崔 成浚（チェ・ソンジュン）<span lang="en">Choi Sungjoon</span>
            <dd>マレー語<span aria-hidden="true"> … </span>黄 金祥（ウオン・キムスヨン）<span lang="en">Wong Kim Seong</span>
            <dd>インドネシア語<span aria-hidden="true"> … </span><span lang="en">Novriana Dewi</span>, <span lang="en">Yati Anggarini</span>
            <dt id="Credit_implementation">実装</dt>
            <dd>伊藤 由暁（株式会社まぼろし フロントエンドエンジニア）</dd>
            <dt id="Credit_cooperation">協力</dt>
            <dd>東京大学大学院医学系研究科国際保健政策学教室</dd>
          </dl>
        </div>
      </section>

      <section class="Section" id="Contact">
        <header class="HeadingAnchor">
          <h3>お問い合せ</h3>
          <a href="#Contact"><span class="VisuallyHidden">このセクションへのリンク</span></a>
        </header>
        <div class="Section__inner">
          <p>疑義や誤りのご指摘などは、<a href="mailto:info@polaar.jp">info@polaar.jp</a> カワセタケヒロ宛にお問い合せください。（個人での対応となりますので、すべてに対応できない可能性があります。あらかじめご了承ください）</p>
        </div>
      </section>
    </article>

    <footer id="Footer">
      <h2 class="VisuallyHidden">ライセンス</h2>
      <a class="VisuallyHidden" href="#Footer">このセクションへのリンク</a>
      <p class="License">
        <a href="https://covid-19-act.jp">covid-19-act.jp</a>
        <svg role="img" width="18" height="18" viewBox="0 0 18 18" fill="none" aria-labelledby="title-CC">
          <title id="title-CC">Creative Commons License</title>
          <path d="M8.9886 0C6.5185 0 4.34491 0.913324 2.66624 2.6147C0.937405 4.36391 0 6.63242 0 8.99886C0 11.3904 0.914597 13.611 2.64116 15.3352C4.37 17.0616 6.61657 17.9977 8.98632 17.9977C11.3561 17.9977 13.6528 17.0616 15.4318 15.3101C17.1105 13.6589 18 11.4632 18 8.99658C18 6.55498 17.1105 4.33658 15.4067 2.6352C13.6802 0.913324 11.4564 0 8.9886 0ZM9.0114 1.62622C11.0367 1.62622 12.8386 2.3915 14.2458 3.79679C15.628 5.17702 16.3692 7.00139 16.3692 8.99886C16.3692 11.0214 15.6531 12.7956 14.2709 14.1531C12.8135 15.5835 10.9364 16.3487 9.0114 16.3487C7.06133 16.3487 5.23441 15.5835 3.82717 14.1782C2.41992 12.7729 1.62848 10.9234 1.62848 9.00114C1.62848 7.05378 2.41764 5.20435 3.82717 3.77401C5.20933 2.36644 6.98834 1.62622 9.0114 1.62622Z" fill="black"/>
          <path d="M8.89736 7.50483C8.38875 6.57784 7.51977 6.20886 6.51166 6.20886C5.04511 6.20886 3.87506 7.24518 3.87506 8.99896C3.87506 10.7823 4.97212 11.7913 6.55955 11.7913C7.57907 11.7913 8.44577 11.2333 8.92473 10.386L7.80715 9.81663C7.55854 10.4134 7.17765 10.5933 6.69868 10.5933C5.87076 10.5933 5.48986 9.90545 5.48986 8.99896C5.48986 8.09246 5.80917 7.40462 6.69868 7.40462C6.93817 7.40462 7.41713 7.53444 7.69767 8.13346L8.89736 7.50483Z" fill="black"/>
          <path d="M14.5122 7.50483C14.0036 6.57784 13.1346 6.20886 12.1265 6.20886C10.66 6.20886 9.48994 7.24518 9.48994 8.99896C9.48994 10.7823 10.587 11.7913 12.1744 11.7913C13.1939 11.7913 14.0606 11.2333 14.5396 10.386L13.422 9.81663C13.1734 10.4134 12.7925 10.5933 12.3136 10.5933C11.4856 10.5933 11.1047 9.90545 11.1047 8.99896C11.1047 8.09246 11.424 7.40462 12.3136 7.40462C12.553 7.40462 13.032 7.53444 13.3125 8.13346L14.5122 7.50483Z" fill="black"/>
        </svg>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja">BY-NC-SA 4.0</a>
      </p>
    </footer>
  </body>
</html>
