---
date: Last Modified
---
<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Publish</title>
    <script type="text/javascript" src="//webfont.fontplus.jp/accessor/script/fontplus.js?owI8-d2e8Dw%3D&box=wzsij36dhRc%3D&timeout=5&aa=1&ab=2" charset="utf-8"></script>
    <link rel="stylesheet" href="./style.css"/>
    <meta name="description" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://covid-19-act.jp/publish/"/>
    <meta property="og:image" content="http://covid-19-act.jp/publish/image/OGP.jpg"/>
    <meta property="og:image:secure_url" content="https://covid-19-act.jp/publish/image/OGP.jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image:alt" content=""/>
    <link rel="canonical" href="https://covid-19-act.jp/publish/"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="">
    <meta property="og:description" content=""/>
    {# <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-000000000-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-000000000-1');
    </script> #}
    <link rel="icon" sizes="any" href="./image/favicon.svg" type="image/svg+xml"/>
    <link rel="mask-icon" href="./image/favicon.svg" color="yellow"/>
    <link rel="icon alternate" href="./image/favicon.png" type="image/png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./image/apple-touch-icon.png"/>
  </head>

  <body>
    <h1>Publish</h1>

    <script src="./script.js"></script>
  </body>
</html>
